
body {
  /* couleur de fond initiale */
  background-color: rgba(0, 128, 255, 1);
  /* Grille */
  background-position: 35px 35px;
  background-size: 70px 70px;
  background-image: linear-gradient(0deg, lightgrey 1px, transparent 1px),
                    linear-gradient(90deg, lightgrey 1px, transparent 1px);
}

#header {
  font-weight: 500;
  font-family: Impact, Charcoal, sans-serif;
  text-decoration: underline;
  margin-bottom: 30px;
  word-spacing: 7px;
  letter-spacing: 6px;
  font-weight: 400;
  text-align: center;
}

@keyframes firstArrival {
  0% {
    margin-top: 250px;
    opacity: 0.2;
  }
  100% {
    margin-top: 100px;
    opacity: 1;
  }
}

#main {

  /* coool :) */
  animation: firstArrival 1s ease 1 forwards;

  /* centrage de la zone principale */
  width: 40%; /* indispensable en px? pour pouvoir centrer automatiquement ? */
  margin: 0 auto; /* marges automatique sur l'horizontal, pour centrer */
  margin-top: 100px;

  padding: 20px;
  border-radius: 3px;
  border: 1px solid white;

   /* textes non sélectionnables */
  -ms-user-select: none; /* IE10+ / Edge */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  user-select: none; /* Chrome 41+ */

  background-color: #B0BEC5;
  opacity: 0.8;
  box-shadow: /*left*/1px /*bottom*/2px /*flou*/4px #666666;

}

#sliders {
  margin: auto;
  width: 75%;
}

/* SLIDER Style ! */
slider {
  width: 100%;
  padding: 1px;
  margin-bottom: 20px;

  /*permet au slider d'avoir la largeur de son contenu ?? */
  display: inline-block;

  /* http://stackoverflow.com/questions/14831866/breaking-to-a-new-line-with-inline-block */
  float: left;
  clear: left;

  /* http://stackoverflow.com/a/22758437 => pour la hauteur des éléments "relatifs" ?? */
  height: 0;
  overflow: visible;

  position: relative; /* pour que les 'position: absolute' "enfants" soient "relative" à cet element parent.. */
}
slider {
  cursor: pointer;
}
  /* Le fond du slider */
slider .mainBar {
  background-color: red;
  width: 100%;
  height: 6px;
  margin: 2px;
}
slider .mainBar:hover {
  box-shadow: 0 0 7px yellow;
}
  /* La barre d'avancement */
slider .currentBar {
  background-color: green;
  height: 4px;
  position: relative;
  top: 1px;
}
  /* le selecteur */
slider .grab {
  width: 8px;
  height: 8px;
  border-radius: 15px;
  background-color: blue;
  position: relative;
  top: -9px;
}
slider .grab:hover {
  cursor: pointer;
  border: 3px solid orange;
  margin-left: -3px;
  top: calc(-9px - 3px); /* IE9+ */
}
  /* le text */
slider .value {
  width: 100px;
  color: white;
  font-weight: 800;
  top: -14px;
  position: absolute;
  font-size: 8pt;
  font-family: monospace;
  cursor: default; /* pas de curseur "I" */
}
/* ------ */

#buttons {
  display: block;
  width: 300px;
  margin: auto;
}

button:focus {outline:0;}

#myButton {
  background: repeating-linear-gradient( /* IE10+ */
    45deg,
    #222,
    #222 10px,
    #444 10px,
    #444 20px
  );
  position: relative;
  left: 5%;
  width: 90%;
  border-radius: 10px;
  outline: 0;
  font-size: 14pt;
  color: white;
  transition: .9s;
}
#myButton:hover {
  color: red;
  transition: .9s;
  box-shadow: 0 0 10px black;
}
/* #TODO !!
#myButton:hover::after {
  content: ' \00bb';
  transition: 2s;
}
*/
#myButton:focus {
  animation: buzz 0.1s linear 10 alternate;
  transition: all 0s;
}

@keyframes buzz {
  0% {

  }
  100% {
    margin-left: 3px;
  }
}

#saveButton {

}

#debug {
  position: fixed;
  border: 1px solid #424242;
  bottom: 20px;
  margin-left: calc(50% - 100px);
  width: 200px;
  background-color: #BDBDBD;
  text-align: center;
  padding: 5px;
}

#comment {
  font-family: sans-serif;
  font-style: italic;
  font-size: 8pt;
}

#mySVG {
  width: 250px;
  height: 100px;
  margin-left: calc(50% - 250px / 2);
  margin-top: 20px;
  background-color: transparent;
  opacity: 1;
}

#hoverInfos {
  position: fixed;
  width: 100px;
  text-align: center;
  display: none;
  border-radius: 3px;
  border: 3px solid #004D40;
  background-color: #00695C;
  color: white;
  font-family: sans-serif;
}
